[Course Link](https://courses.cognitiveclass.ai/courses/course-v1:CognitiveClass+DA0101EN+2017/courseware)

### Module 1 - Introduction

We are going to predict prices of used cars

[Link for data](http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data)

#### Data Description

[Link for Data description](http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.names)

Symboling: denotes the risk factor associated with a car
Higher: more risky

Normalized losses: relative avg loss payment per insured vehicle year. This value is normalized

Price: Target value

This dataset is actually from 1985 so the car prices maay seem a little low

#### Read in the data:

In [48]:
# import the libraries

import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import pyplot

In [49]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

df = pd.read_csv(url, header=None)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#### Setting column names

In [50]:
df.columns = ['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style',
              'drive-wheels','engine-location','wheel-base','length','width','height','curb-weight','engine-type',
              'num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio','horsepower',
              'peak-rpm','city-mpg','highway-mpg','price']

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#### Data Types in python

1. object: string in python
2. int64
3. float64
4. datetime64, timedelta


#### Why check data types:

Pandas automatically assigns types based on encoding from the text

Many times this may not be correct

It also helps us understand which python functions can be applied to a particular column

```
dataframe.dtypes

```

In [51]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

    bore: continuous from 2.54 to 3.94
    
    Here bore should have been float64

#### Check statistical summary of each col

This only considers numerical values

In [52]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

Describe method can be used for object type cols as well

In [53]:
df.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

Here 3 new measures are calculated: unique, top and freq

unique: number of distinct objects in the col
top: most frequesntly occuring object
freq: no of times the top object appears in the col

Some values are NaN as the particular stat metric cant be computed for that col data type

Another function is df.info()

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 205 non-null object
stroke               205 non-null object
compression-ratio    205 non-null float64
horsepower           205 non-null object
peak-rpm             205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB

### Graded Review Questions

1. What does CSV stand for ?

    - Comma Separated Values Comma Separated Values - correct

2. In the data set what represents an attribute or feature?
    - Column

3. What is another name for the variable that we want to predict?

    - Target
    
4. What is the command to display the first five rows of a dataframe df?

    - df.head()
    
5. what command do you use to get the data type of each row of the dataframe df?

    - df.dtypes
    
6. How do you get a statistical summary of a dataframe df?

    -  df.describe()
    
7. If you use the method describe() without changing any of the arguments you will get a statistical summary of all the columns of type object?

    - False

### Module 2 - Data Wrangling

#### Data Pre processing (Data Cleaning or Data Wrangling):

- It is the process of converting or mapping data from initial 'raw' form into another format in order
    to prepare the data for further analysis
    
Steps:

- Missing Value treatment
- Data formatting
- Data Normalization (centering/scaling)
- Data Binning (binning creates bigger categories from a set of numerical values. This is particularly useful for comparing diff groups of data)
- Turning categorical values to numerical vars


#### Missing Value Treatment:

Missing value may appear as '?', 'N/A', 0 or just a blank cell

Options:

- Check whether the person who collected the data can go back and check what the actual value should be

- Remove the data where the missing value is found
    - u can either drop the whole var
    - drop the data entry
    - if not many of the data is missing u can drop those particular data entries

- Replace the missing value. Here we dont waste data, but its less accurate
    - replace with mean. What if values cannot be averaged, like categorical dtypes? In this case, we can use the mode
    - replace it based on other functions: sometimes the data gatherer might know soomething extra about the missing data. For eg he may know that the missing values generally tend to be old cars and the mormalized-losses value of old cars are higher than avg vehicle

- Leave it as missing data

Drop missing values:

    dataframe.dropna()

We can chose to drop rows or cols that contain missing avlues, like NaN 

    axis = 0: drops the entire row
    axis = 1: drops the entire col
    
Here there is a missing value for price

Since price is our target var we drop that row

    df.dropna(subset = ['price'], axis = 0, inplace = True)
    
Replace missing values:

    dataframe.replace(missing_value, new_value)
    
Replace normalized-losses missing value by mean

    mean = df['normalized-losses'].mean()
    df['normalized-losses'].replace(np.nan, mean)

#### Data Formatting

Data is usually collected from diff places, from diff people and may be stored in diff formats

Data Formatting is bringing data into a common standard of expression that allows users to make meaningful comparison

New York: NY, Ny New York, N.Y

Sometimes this unclean data is a good thing to see. If we are looking for diff ways people tend to write 'New York'
then this is exactly the data we want

Or if we are looking to spot fraud, N.Y. is likely to be an anomaly

But in most cases, we would want to convert them to same entity to make statistical analysis easier

There is a feature in our dataset: **city-mpg**. This is the car fuel consumption unit

    mpg is written after a number to indicate how many miles a vehicle can travel using one gallon of fuel. mpg is an abbreviation for 'miles per gallon'.

We want to convert this to: **city-L/100km**

    df['city-mpg'] = 235/df['city-mpg']
    
    df.rename(columns = {'city-mpg': 'city-L/100km'}, inplace = True)
    
**Incorrect Data Types:**

Sometimes a wrong data type may be assigned to a feature

Here price is a col of dtype: object which is wrong

If we dont do conversion to appropriate dtypes, our model may treat valid data as missing

    df['price'] = df['price'].astype('int')
    
#### Data Normalization

Range of length: 150-250
Range of width and ht: 50-100

We want to normalize these values st the range is consistent

This will make stat analysis easier as it will enable fair comparison
Also they will have the same impact

Consider a dataset with age and income

Age range: 20- 100
Income range: 2000 - 10000

Income is 100x higher

When we do analysis like LinearReg the attr income will intrinsicly influence the result more due to its larger value. 

But this doesnt mean that income is more important as a predictor

** So the nature of the data biases the LinearReg model to weigh income more heavily than age**

To avoid this we can normalize these 2 values in range 0 - 1

#### Approaches to Normalization

- Simple Feature Scaling
   Xnew = Xold/Xmax
   Here range will be bw 0 and 1
   
- Min-Max   
  Xnew = (Xold - Xmin)/(Xmax - Xmin)
  Here range will be bw 0 and 1
  
- Z score
  
  Xnew = (Xold - m)/sigma
  m is mean
  sigma is SD
  
  Resulting values hover around 0 and typically range bw -3 and +3 but can be higher or lower
  
#### Applying Normalization to length feature:

SFS:

    df['length'] = df['length']/df['length'].max()
    
Min-Max:

    df['length'] = (df['length'] - df['length'].min())/(df['length'].max() - df['length'].min())
    
Z-score:

    df['length'] = (df['length'] - df['length'].mean())/df['length'].std()


#### Data Binning

Binning - ** Grouping of values into 'bins'**

For eg u can bin age into: 0-5, 6-10, 11-15, ... so on

Binning can sometimes improve accuracy

Sometimes we use binning to group a set of numerical values into a smaller no of bins
to have a better understanding of data distribution

"price": range: 5000 to 45,500

We use 3 bins
- low 

- med 

- high 


We use unform ranges for all bins

In python:

    binwidth = int((max(df['price']) - min(df['price']))/4)
    
The function cut requires an extra bin so we divide by 4 instead of 3
    
Now we build the bin array:
    
    bins = range(min(df['price']), max(df['price']), binwidth)
    
Now we create labels foreach bin

    group_names = ['Low', 'Medium', 'High']
    
Finally we create a new col

    df['price_binned'] = pd.cut(df['price'], bins, labels = group_names)
    
We can then use histograms to visualize the dist
For eg, in our dataset most cars have low price

#### Turning Categorical vars into Quantitative vars

Most stat models cant take objects/strings as ip

In car dataset Fuel feature is cat var: gas or diesel

We add new features corresponding to each unique element in the original feature

Here there are 2 unique values: gas & diesel

So we add 2 new features: gas and diesel

    If(for a particular row) fuel = 'gas'
        gas = 1 for that row
    else 
        gas = 0 for that row
        
Similar for diesel

This method is called **One Hot Encoding**

We can do this in python:

    pd.get_dummies(df['fuel'])
    
### Lab:

In [55]:
df.head()

df.replace('?', np.nan, inplace=True)

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
1.  **.isnull()**
2.  **.notnull()**

The output is a boolean value indicating whether the passed in argument value are in fact missing data.

In [56]:
missing_data = df.isnull()

missing_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### Count missing values in each columns

In [57]:
for column in missing_data.columns.values.tolist():
    print (column)
    print (missing_data[column].value_counts())
    print (" ")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

Based on the summary above, each column has 205 rows of data, seven columns containing missing data:

1. "normalized-losses": 41 missing data
2. "num-of-doors": 2 missing data
3. "bore": 4 missing data
4. "stroke" : 4 missing data
5. "horsepower": 2 missing data
6. "peak-rpm": 2 missing data
7. "price": 4 missing data

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

**Replace by mean:**

    "normalized-losses": 41 missing data, replace them with mean
    "stroke": 4 missing data, replace them with mean
    "bore": 4 missing data, replace them with mean
    "horsepower": 2 missing data, replace them with mean
    "peak-rpm": 2 missing data, replace them with mean
    
**Replace by frequency:**

    "num-of-doors": 2 missing data, replace them with "four". 
        * Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to 
    

**Drop the whole row:**

    "price": 4 missing data, simply delete the whole row
        * Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore they are not useful to us

#### Replacing the missing values for the above mentioned features with mean:

In [58]:
avg_1 = df['normalized-losses'].astype('float').mean(axis = 0)

avg_1

df['normalized-losses'].replace(np.nan, avg_1, inplace=True)

avg_2 = df['bore'].astype('float').mean(axis = 0)

df['bore'].replace(np.nan, avg_2, inplace=True)

avg_3 = df['stroke'].astype('float').mean(axis = 0)

avg_3

df['stroke'].replace(np.nan, avg_3, inplace=True)

avg_4 = df['horsepower'].astype('float').mean(axis = 0)

df['horsepower'].replace(np.nan, avg_4, inplace= True)

avg_5 = df['peak-rpm'].astype('float').mean(axis = 0)

df['peak-rpm'].replace(np.nan, avg_5, inplace= True)

In [59]:
df['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

We can see that four doors are the most common type. We can also use the ".idxmax()" method to calculate for us the most common type automatically:

In [60]:
max_value = str(df['num-of-doors'].value_counts().idxmax())
max_value

'four'

In [61]:
df['num-of-doors'].replace(np.nan, max_value, inplace=True)

Finally, let's drop all rows that do not have price data:

In [62]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace = True)

# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**Good!** Now, we obtain the dataset with no missing values.

#### Correct Data Format

In [63]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, 'bore' and 'stroke' variables are numerical values that describe the engines, so we should expect them to be of the type 'float' or 'int'; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.

In [64]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")
print("Done")

Done

In [65]:
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

**Wonderful!**

Now, we finally obtain the cleaned dataset with no missing values and all data in its proper format.

#### Data Standardization

Transform mpg to L/100km:
In our dataset, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon) unit. Assume we are developing an application in a country that accept the fuel consumption with L/100km standard

We will need to apply **data transformation** to transform mpg into L/100km?

In [66]:
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"]

# check your transformed data 
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,13495.0,11.190476
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,16500.0,11.190476
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,19,26,16500.0,12.368421
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,24,30,13950.0,9.791667
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,18,22,17450.0,13.055556

In [67]:
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df['highway-mpg'] = 235/df["highway-mpg"]

df.rename(columns={'highway-mpg': 'highway-L/100km'}, inplace=True)
# check your transformed data 
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-L/100km,price,city-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,8.703704,13495.0,11.190476
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,8.703704,16500.0,11.190476
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,19,9.038462,16500.0,12.368421
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,24,7.833333,13950.0,9.791667
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,18,10.681818,17450.0,13.055556

#### Normalization

Normalize cols: length, width, height

In [68]:
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()

In [69]:
df[["length","width","height"]].head()

     length     width    height
0  0.811148  0.890278  0.816054
1  0.811148  0.890278  0.816054
2  0.822681  0.909722  0.876254
3  0.848630  0.919444  0.908027
4  0.848630  0.922222  0.908027

In [70]:
df['length'].std()

0.05921275873275768

#### Binning

**Why binning?** 
<div>Binning is a process of transforming continuous numerical variables into discrete categorical 'bins', for grouped analysis.
 </div>

**Example: ** 
<div>In our dataset, "horsepower" is a real valued variable ranging from 48 to 288, it has 57 unique values. What if we only care about the price difference between cars with high horsepower, medium horsepower, and little horsepower (3 types)? Can we rearrange them into three â€˜bins' to simplify analysis? </div>

<div>We will use the Pandas method 'cut' to segment the 'horsepower' column into 3 bins <div>

In [71]:
df["horsepower"] = df["horsepower"].astype(float, copy=True)

We would like four bins of equal size bandwidth,the forth is because the function "cut"  include the rightmost edge:

we require  becoz

bins[0] - bins[1] : Low

bins[1] - bins[2] : Medium

bins[2] - bins[3] : High

In [72]:
binwidth = (max(df["horsepower"])-min(df["horsepower"]))/4
print(binwidth)

53.5

We build a bin array, with a minimum value to a maximum value, with bandwidth calculated above. The bins will be values used to determine when one bin ends and another begins.

In [73]:
bins = np.arange(min(df['horsepower']), max(df['horsepower']), binwidth)

bins

group_names = ['Low', 'Medium', 'High']

 We apply the function "cut" the determine what each value of "df['horsepower']" belongs to.

In [74]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True)

df[['horsepower', 'horsepower-binned']].head(20)

    horsepower horsepower-binned
0        111.0            Medium
1        111.0            Medium
2        154.0            Medium
3        102.0            Medium
4        115.0            Medium
5        110.0            Medium
6        110.0            Medium
7        110.0            Medium
8        140.0            Medium
9        101.0               Low
10       101.0               Low
11       121.0            Medium
12       121.0            Medium
13       121.0            Medium
14       182.0              High
15       182.0              High
16       182.0              High
17        48.0               Low
18        70.0               Low
19        70.0               Low

#### Bins visualization 
Normally, a histogram is used to visualize the distribution of bins we created above.

In [75]:
# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["horsepower"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

AttributeError: module 'matplotlib.pyplot' has no attribute 'pyplot'

#### Indicator Vars

**What is an indicator variable?**
<div>An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. </div>

**Why we use indicator variables?**
<div>So we can use categorical variables for regression analysis in the later modules.</div>

**Example**
<div>We see the column "fuel-type" has two unique values, "gas" or "diesel". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "fuel-type" into indicator variables.</div>

<div>We will use the panda's method 'get_dummies' to assign numerical values to different categories of fuel type. <div>

In [ ]:
df.columns

In [ ]:
df['fuel-type'].head(5)

In [ ]:
dummy_variable_1 = pd.get_dummies(df['fuel-type'])

dummy_variable_1.head()

change column names for clarity

In [ ]:
dummy_variable_1.rename(columns={'diesel': 'fuel-type-diesel', 'gas': 'fuel-type-gas'}, inplace=True)

dummy_variable_1.head()

We now have the value 0 to represent "gas" and 1 to represent "diesel" in the column "fuel-type". We will now insert this column back into our original dataset.

In [ ]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)

In [ ]:
df.head()

In [ ]:
df['aspiration'].value_counts()

In [ ]:
dummy_variable_2 = pd.get_dummies(df['aspiration'])

dummy_variable_2.head()

In [ ]:
dummy_variable_2.rename(columns={'std': 'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)

dummy_variable_2.head()

In [ ]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_2], axis=1)

# drop original column "fuel-type" from "df"
df.drop("aspiration", axis = 1, inplace=True)

df.head()

Save the clean csv

In [ ]:
df.to_csv('./data/clean_df.csv')

> **End of Lab**

### Graded Review Questions

1. Consider the dataframe "df" what is the result of the following operation df['symbolling'] = df['symbolling'] + 1?:
    
    Every element in the column "symbolling" will increase by one Every element in the column "symbolling" will increase by one - correct
    
2. Consider the dataframe "df", what does the command df.rename(columns={'a':'b'}) change about the dataframe "df"
     
     nothing as you must set the parameter "inplace =True " nothing as you must set the parameter "inplace =True " - correct
     
3. Consider the dataframe "df" , what is the result of the following operation df['price'] = df['price'].astype(int) ?
    
    convert or cast the column 'price' to an integer value convert or cast the column 'price' to an integer value - correct
    
4. Consider the column of the dataframe df['a']. The colunm has been standardized. What is the standard deviation of the values, i.e the result of applying the following operation df['a'].std() :
     
     1 - correct

5. Consider the column of the dataframe df['Fuel'], with two values 'gas' and' diesel'. What will be the name of the new colunms pd.get_dummies(df['Fuel']) ?
     
     Gas and diesel Gas and diesel - correct
     
6. What are the values of the new columns from part 5 a)
     
     1 and 0 1 and 0 - correct

### Exploratory Data Analysis

EDA is a preliminary step in Data Analysis to:

- Summarize main characteristics of data
- Gain better understanding of the data set
- Uncover relationships bw different vars
- Extract imp vars for the prob

Main Question:

** What are the characteristics that have the most impact on the car price? **

#### Descriptive Statistics:

When we get the data, it is important to first explore the data before we start building complicated
models

One easy way is to calculate DS for the data

One way is using ```describe()``` function

In [ ]:
df.describe()

This computes basic statistics for all **numerical** vars

It shows mean, total no of data pts, std, quartiles and extreme values

Any NaN values are automatically skipped

This gives clear idea about distribution of the vars

Summarize **Categorical** vars by ```value_counts()``` function

In [ ]:
drive_wheels_counts = df['drive-wheels'].value_counts()

drive_wheels_counts

**Box Plots**:

These are another great way to visualize numeric data

It helps us spot outliers and also understand the distribution

**Scatter Plots**:

These are for continuous vars

Price and engiine size are cont vars

What if we want to understand relationship bw engine size and price

We can do this with Scatter Plots

x axis: Predictor
y axis: Target

In [ ]:
y = df['engine-size']

x = df['price']

plt.scatter(x, y)

plt.title('Scatter plot of Engine size vs Price')

plt.xlabel('Engine Size')

plt.ylabel('Price')

    As Engine Size inc, Price also inc

    So there is a positive linear relattionship bw them

#### GroupBy in Python:

Say we want to find if there is some rel bw the types of dive systems (forward, rear and 4 wheel drive)

We would want to group by the drive-wheels and compare them with each other

This an be done using the ```Groupby()``` method

This method works on categorical vars

We can group by single or multiple vars

For eg, we want to find avg price of vehichles and observe how they vary bw: types of body-styles and drive-wheels

We first pick out the cols we are interested in:

    df_test = df['drive-wheels', 'body-style', 'price']
    
    df_grp = df_test.groupby(['drive-wheels', 'body-style'], as_index = False).mean()
    
Here each subcategory will be in each separate row

This can be a bit difficult to read

We can use the ```pivot()``` method to better visualize the data

A Pivot Table has one var displayed along cols and the other var displayed along the rows

    df_pivot = df_grp.pivot(index = 'drive-wheels', columns = 'body-style')
    
Another way to represent Pivot Table is using a **Heatmap Plot**

This takes a rectangular grid of data and assigns a color intensity based on the data value
at the grid pts

    plt.color(df_pivot, cmap='RdBBu')
    
    plt.colorbar()
    
    plt.show()
    
#### Analysis of Variance (ANOVA):

Assume we want to analyse a categorical var and study the corr among diff categories

Question:

How diff categories of the make feature have impact on the price?

This diag shows avg price of diff vehichle makes:

![](./data/img/diag0)

To analyze cat vars we can use ANOVA

ANOVA can be used for:

- Finding corr bw diff groups of a cat var

ANOVA test returns 2 values:

- F test score: variation bw sample group means divided by varation bw sample group

- p value: confidence degree

![](./data/img/diag1)

This diag illustrates a case where F test score is small

Variation within each group is way larger than varation bw avg values of each group

Say group1 is Honda and group2 is Subru

Since F score is small, the corr bw price as the target var and the grouping is weak

Probably this means that given the make we cant quite say what the price will be

![](./data/img/diag2)

Here the F test score will be larger

The var bw the avgs of the 2 groups is comparable to the variation within the 2 groups

Say group1 is Jaguar and Group 2 is Honda

Since F score is large, the corr is strong

So given the make, say Jaguar since the data points are in a distinct cluster, we can somewhat say
what the price will be

![](./data/img/diag3)

This chart shows the avg prices for various car makes

As we can see from bar chart we expect a small F score for Honda and Subru as there is small diff bw the avg prices

![](./data/img/diag4)

We can expect a large F value bw Honda and Jaguar as the diff in prices is very significant

But this chart merely provides an intuition. We do not know the exact variances here

- ANOVA bw Honda and Subru

We extract the make and price data

    df_anova = df[['make', 'price']]
    
Group data by diff makes

    grouped_anova = df_anova.groupby(['make'])
    
The ANOVA test can be performed in Python using the ```f_oneway()``` method of scypi package

We pass the price data of the 2 car make groups that we want to compare and it calculates the ANOVA results:

    anova_results_1 = stats.f_oneway(grouped_anova.get_group('honda')['price'], grouped_anova.get_group('subaru')['price'])
    
    Results: F: 0.197 p=.661
    
        
As F < 1 & p > 0.05: prices bw hondas and subaru are not significantly diff

    anova_results_2 = stats.f_oneway(grouped_anova.get_group('honda')['price'], grouped_anova.get_group('jaguar')['price'])
    
    Results: F: 401 p=1.06
    
** We can say that there is a strong corr bw a cat var and other vars if the ANOVA
test gives us a large F test value and a small p value **